body {
  text-align: center;
  background-color: #000000;
}

#hashtable {
  background-color: #cccccc;
  margin-top: 20px;
}

#histogram {
  background-color: #aaaaaa;
}

#text {
  height: 200px;
  width: 1080px;
  resize: none;
}

#hash-output {
  height: 200px;
  width: 1080px;
  resize: none;
}

#longest-collisions {
  height: 50px;
  width: 1080px;
  resize: none;
}

#redblacktree {
  background-color: #cccccc;
}

#rbt-graph {
  background-color: #aaaaaa;
}

#rbt-output {
  height: 540px;
  width: 1080px;
  resize: none;
}

#rbt-print {
  height: 50px;
  width: 1080px;
  resize: none;
}

#skiplist {
  background-color: #cccccc;
}

#list-graph {
  background-color: #aaaaaa;
}
